.head-bread {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
    .head-bread-icon {
        color: #7367f0 !important;
    }


.head-bread .m-breadcrumbs {
    padding: 10px 10px 10px 0px;
}

.head-bread .m-divider {
    margin: 12px;
}

body {
    font-family: Montserrat,Helvetica,Arial,serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #5e5873;
}

.coupons.m-text-field > .m-input__control > .m-input__slot:before {
    border-color: transparent;
    border-style: hidden;
}

.coupons.m-text-field > .m-input__control > .m-input__slot:after {
    border-color: transparent;
    border-style: hidden;
}