@using MASA.Blazor
@inherits LayoutComponentBase

<MApp>
    <MAppBar Flat Fixed Color="white" Class="m-bar--underline full-width">
        <span>MASA EShop</span>
        <MSpacer></MSpacer>
        <AuthorizeView>
            <Authorized>
                <MButton Icon Large OnClick='()=>Navigation("basket")'><MIcon>mdi-cart</MIcon></MButton>
                <MMenu OffsetX Left OffsetY>
                    <ActivatorContent Context="activator_context">
                        <MButton Icon Large @attributes="@activator_context.Attrs"><MIcon>mdi-account-circle-outline</MIcon></MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <MList Dense>
                            <MListItem Link OnClick='()=>Navigation("orders")'>
                                <MListItemIcon>
                                    <MIcon>mdi-bell</MIcon>
                                </MListItemIcon>
                                <MListItemContent>
                                    <MListItemTitle>
                                        订单中心
                                    </MListItemTitle>
                                </MListItemContent>
                            </MListItem>
                            <MListItem Link OnClick='Logout'>
                                <MListItemIcon>
                                    <MIcon>mdi-logout</MIcon>
                                </MListItemIcon>
                                <MListItemContent>
                                    <MListItemTitle>
                                        退出登录
                                    </MListItemTitle>
                                </MListItemContent>
                            </MListItem>
                        </MList>
                    </ChildContent>
                </MMenu>
            </Authorized>
            <NotAuthorized>
                <MMenu>
                    <ActivatorContent Context="_">
                        <MButton class="primary" OnClick='()=>Navigation("login")'>@I18n.T("Login.Login")</MButton>
                    </ActivatorContent>
                </MMenu>
            </NotAuthorized>
        </AuthorizeView>
        <MButton Text OnClick='()=>ChangeLanguage()' class="ml-2">
            @(I18n.CurrentLanguage == "zh-CN"?"EN": "中")
        </MButton>
    </MAppBar>
    <MMain>
        <MContainer Fluid>
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </MContainer>
    </MMain>

    <Message @bind-Value="_message.Visible" Timeout="_message.Timeout" Type="_message.Type">
        @_message.Content
    </Message>
</MApp>

