@page "/login"
@inherits EShopBasePage

<PageTitle>Login</PageTitle>

<MContainer class="justify-center align-center">
    <MRow Justify="JustifyTypes.Center">
        <MCol Md="5">
            <MCard class="mt-0 pt-0">
                <MCardTitle class="blue darken-1">
                    <h4 style="color:white">Login MASA EShop Account</h4>
                </MCardTitle>
                <MCardText class="mt-10">
                    <MTextField class="input-group--focused mr-2"
                                Label="UserName" @bind-Value="_userName"></MTextField>
                    <MTextField class="input-group--focused mr-2"
                                Label="password" @bind-Value="_password"></MTextField>
                    <MButton class="pink--text" Block OnClick="LoginHandler">LOGIN</MButton>
                </MCardText>
            </MCard>
        </MCol>
    </MRow>
</MContainer>


